In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

cwd = os.getcwd()
universities_path = os.path.join(cwd, "raw/Country and city of universities.csv")
country_codes_path = os.path.join(cwd,"raw/ISO-3166-Countries-with-Regional-Code.csv")

In [3]:
universities = pd.read_csv(universities_path)
print(universities.head())
len(universities)

                                 university       country        city
0                University of South Africa  South Africa    Pretoria
1                          Cairo University         Egypt       Cairo
2  National Autonomous University of Mexico        Mexico      Mexico
3                     Alexandria University         Egypt  Alexandria
4                      Ain Shams University         Egypt       Cairo

2021

In [4]:
country_codes = pd.read_csv(country_codes_path)
print(country_codes.head())
len(country_codes)

             name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1   Åland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

249

In [5]:
# rename some country names:
country_codes.replace(to_replace="Türkiye", value="Turkey",inplace=True)
country_codes.replace(to_replace="United Kingdom of Great Britain and Northern Ireland", value="United Kingdom",inplace=True)
country_codes.replace(to_replace="United States of America", value="United States",inplace=True)
country_codes.replace(to_replace="Russian Federation", value="Russia",inplace=True)
country_codes.replace(to_replace="Netherlands, Kingdom of the", value="Netherlands",inplace=True)
country_codes.replace(to_replace="Czechia", value="Czech Republic",inplace=True)
country_codes.replace(to_replace="Iran, Islamic Republic of", value="Iran",inplace=True)
country_codes.replace(to_replace="Korea, Democratic People's Republic of", value="North Korea",inplace=True)
country_codes.replace(to_replace="Korea, Republic of", value="Korea",inplace=True)
country_codes.replace(to_replace="Slovakia", value="Slovak Republic",inplace=True)
country_codes.replace(to_replace="Viet Nam", value="Vietnam",inplace=True)
country_codes.replace(to_replace="Taiwan, Province of China", value="Taiwan",inplace=True)
country_codes.replace(to_replace="Tanzania, United Republic of", value="Tanzania",inplace=True)

In [6]:
uni_with_country_codes = universities.merge(country_codes, left_on='country', right_on='name', how='left')

In [7]:
# there should not be any null values
nan_rows = uni_with_country_codes[uni_with_country_codes['alpha-2'].isnull()]

In [8]:
uni_with_country_codes = uni_with_country_codes[['university','country','city','alpha-2','alpha-3','region','sub-region']]

In [9]:
uni_with_country_codes.head()

,university,country,city,alpha-2,alpha-3,region,sub-region
0,University of South Africa,South Africa,Pretoria,ZA,ZAF,Africa,Sub-Saharan Africa
1,Cairo University,Egypt,Cairo,EG,EGY,Africa,Northern Africa
2,National Autonomous University of Mexico,Mexico,Mexico,MX,MEX,Americas,Latin America and the Caribbean
3,Alexandria University,Egypt,Alexandria,EG,EGY,Africa,Northern Africa
4,Ain Shams University,Egypt,Cairo,EG,EGY,Africa,Northern Africa

In [10]:
uni_with_country_codes.to_csv(os.path.join(cwd,"country_city_universities.csv"),index=False, header=['university','country','city','alpha_2','alpha_3','region','sub_region'])