In [85]:
import pandas as pd
import numpy as np

In [86]:
import os

cwd = os.getcwd()
ef_path = os.path.join(cwd, "raw/ef_education_index.csv")
country_codes_path = os.path.join(cwd,"raw/ISO-3166-Countries-with-Regional-Code.csv")

In [87]:
ef = pd.read_csv(ef_path)
print(col.head())
len(col)

   Rank      Country  EF EPI Score                  Level  Year
0     1       Norway         69.09  Very High Proficiency  2011
1     2  Netherlands         67.93  Very High Proficiency  2011
2     3      Denmark         66.91  Very High Proficiency  2011
3     4       Sweden         66.26  Very High Proficiency  2011
4     5      Finland         65.38  Very High Proficiency  2011

1167

In [88]:
#col['Country'] = col['Country'].str.replace(r'\s*\(.*?\)', '', regex=True)
#col['Country'] = col['Country'].str.replace(r'\bAnd\b', 'and', regex=True)
#col['Country'] = col['Country'].str.replace(r'\bOf\b', 'of', regex=True)

In [81]:
country_codes = pd.read_csv(country_codes_path)
print(country_codes.head())
len(country_codes)

             name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1   Åland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

249

In [89]:
# rename some country names:
country_codes.replace(to_replace="Türkiye", value="Turkey",inplace=True)
country_codes.replace(to_replace="United Kingdom of Great Britain and Northern Ireland", value="United Kingdom",inplace=True)
country_codes.replace(to_replace="United States of America", value="United States",inplace=True)
country_codes.replace(to_replace="Russian Federation", value="Russia",inplace=True)
country_codes.replace(to_replace="Netherlands, Kingdom of the", value="Netherlands",inplace=True)
country_codes.replace(to_replace="Czechia", value="Czech Republic",inplace=True)
country_codes.replace(to_replace="Iran, Islamic Republic of", value="Iran",inplace=True)
country_codes.replace(to_replace="Korea, Democratic People's Republic of", value="North Korea",inplace=True)
country_codes.replace(to_replace="Korea, Republic of", value="South Korea",inplace=True)
country_codes.replace(to_replace="Viet Nam", value="Vietnam",inplace=True)
country_codes.replace(to_replace="Taiwan, Province of China", value="Taiwan",inplace=True)
country_codes.replace(to_replace="Tanzania, United Republic of", value="Tanzania",inplace=True)
country_codes.replace(to_replace="Côte d'Ivoire", value="Ivory Coast",inplace=True)
country_codes.replace(to_replace="Syrian Arab Republic", value="Syria",inplace=True)
country_codes.replace(to_replace="Congo, Democratic Republic of the", value="Democratic Republic of the Congo",inplace=True)
country_codes.replace(to_replace="Lao People's Democratic Republic", value="Laos",inplace=True)
country_codes.replace(to_replace="Bolivia, Plurinational State of", value="Bolivia",inplace=True)
country_codes.replace(to_replace="Falkland Islands (Malvinas)", value="Falkland Islands",inplace=True)
country_codes.replace(to_replace="Venezuela, Bolivarian Republic of", value="Venezuela",inplace=True)
country_codes.replace(to_replace="Moldova, Republic of", value="Moldova",inplace=True)
country_codes.replace(to_replace="Brunei Darussalam", value="Brunei",inplace=True)
country_codes.replace(to_replace="Palestine, State of", value="Palestine",inplace=True)
country_codes.replace(to_replace="Virgin Islands (U.S.)", value="Us Virgin Islands",inplace=True)

ef.replace("Hong Kong SAR", value="Hong Kong", inplace=True)
ef.replace("Hong Kong (China)", value="Hong Kong", inplace=True)
ef.replace("Hong Kong, China", value="Hong Kong", inplace=True)
ef.replace("Hong Kong,China", value="Hong Kong", inplace=True)

ef.replace("Taiwan, China", value="Taiwan", inplace=True)
ef.replace("Macau SAR", value="Macao", inplace=True)
ef.replace("Macau", value="Macao", inplace=True)
ef.replace("Macau, China", value="Macao", inplace=True)
ef.replace("Macau,China", value="Macao", inplace=True)

ef.replace("C么te d'Ivoire", value="Ivory Coast", inplace=True)
ef.replace("Côte d'Ivoire", value="Ivory Coast", inplace=True)

ef.replace(to_replace="Czechia", value="Czech Republic",inplace=True)
ef.replace("Bosnia & Herzegovina", value="Bosnia and Herzegovina", inplace=True)
ef.replace("U.A.E.", value="United Arab Emirates", inplace=True)
ef.replace(to_replace="Cape Verde", value="Cabo Verde", inplace=True)
# 2023 data needs to be recleaned

In [90]:
col_with_country_codes = ef.merge(country_codes, left_on='Country', right_on='name', how='left')

In [91]:
# there should not be any null values
nan_rows = col_with_country_codes[col_with_country_codes['alpha-2'].isnull()]

# year 2023 data is incorrect
nan_rows

Empty DataFrame
Columns: [Rank, Country, EF EPI Score, Level, Year, name, alpha-2, alpha-3, country-code, iso_3166-2, region, sub-region, intermediate-region, region-code, sub-region-code, intermediate-region-code]
Index: []

In [95]:
ef_with_country_codes = col_with_country_codes[[
    'Rank',
    'Country',
    'EF EPI Score',
    'Level',
    'Year',
    'alpha-2',
    'alpha-3',
    'region',
    'sub-region']]

In [96]:
ef_with_country_codes.head()

,Rank,Country,EF EPI Score,Level,Year,alpha-2,alpha-3,region,sub-region
0,1,Norway,69.09,Very High Proficiency,2011,NO,NOR,Europe,Northern Europe
1,2,Netherlands,67.93,Very High Proficiency,2011,NL,NLD,Europe,Western Europe
2,3,Denmark,66.91,Very High Proficiency,2011,DK,DNK,Europe,Northern Europe
3,4,Sweden,66.26,Very High Proficiency,2011,SE,SWE,Europe,Northern Europe
4,5,Finland,65.38,Very High Proficiency,2011,FI,FIN,Europe,Northern Europe

In [98]:
ef_with_country_codes.to_csv(os.path.join(cwd,"ef_education_index.csv"),index=False, header=[
    'rank',
    'country',
    'ef_score',
    'level',
    'year',
    'alpha_2',
    'alpha_3',
    'region',
    'sub_region'])