In [30]:
import pandas as pd
import numpy as np

In [31]:
import os

cwd = os.getcwd()
ppr_path = os.path.join(cwd, "raw/passport-index-tidy-iso2.csv")

In [32]:
ppr = pd.read_csv(ppr_path)
print(ppr.head())
len(ppr)

  Passport Destination    Requirement
0       AF          AL         e-visa
1       AF          DZ  visa required
2       AF          AD  visa required
3       AF          AO  visa required
4       AF          AG         e-visa

39601

In [33]:
requirement_counts = ppr.groupby(['Passport', 'Requirement']).size().unstack(fill_value=0)
requirement_counts.columns

Index(['-1', '10', '120', '14', '15', '150', '180', '21', '240', '28', '30',
       '31', '360', '42', '45', '60', '7', '90', 'e-visa', 'eta',
       'no admission', 'visa free', 'visa on arrival', 'visa required'],
      dtype='object', name='Requirement')

In [38]:

req_counts = pd.DataFrame()
req_counts['e_visa_or_visa_on_arrival'] = requirement_counts[['e-visa', 'visa on arrival']].sum(axis=1)
req_counts['eta'] = requirement_counts[['eta']].sum(axis=1)
req_counts['visa_required'] = requirement_counts[['visa required', 'no admission']].sum(axis=1)
req_counts['visa_not_required'] = requirement_counts[['10', '120', '14', '15', '150', '180', '21', '240', '28', '30','31', '360', '42', '45', '60', '7', '90','visa free']].sum(axis=1)

In [40]:
new_req.reset_index(inplace=True)
new_req

    Passport  e_visa_or_visa_on_arrival  eta  visa_required  visa_not_required
0         AD                         64    8             25                101
1         AE                         52    5             14                127
2         AF                         70    2            122                  4
3         AG                         60    5             34                 99
4         AL                         69    3             52                 74
..       ...                        ...  ...            ...                ...
193       XK                         66    2             80                 50
194       YE                         69    2            118                  9
195       ZA                         62    5             71                 60
196       ZM                         57    4             99                 38
197       ZW                         59    2            101                 36

[198 rows x 5 columns]

In [41]:
req_with_country_codes = new_req[[
    'Passport',
    'e_visa_or_visa_on_arrival',
    'eta',
    'visa_required',
    'visa_not_required']]

In [96]:
ef_with_country_codes.head()

,Rank,Country,EF EPI Score,Level,Year,alpha-2,alpha-3,region,sub-region
0,1,Norway,69.09,Very High Proficiency,2011,NO,NOR,Europe,Northern Europe
1,2,Netherlands,67.93,Very High Proficiency,2011,NL,NLD,Europe,Western Europe
2,3,Denmark,66.91,Very High Proficiency,2011,DK,DNK,Europe,Northern Europe
3,4,Sweden,66.26,Very High Proficiency,2011,SE,SWE,Europe,Northern Europe
4,5,Finland,65.38,Very High Proficiency,2011,FI,FIN,Europe,Northern Europe

In [98]:
ef_with_country_codes.to_csv(os.path.join(cwd,"ef_education_index.csv"),index=False, header=[
    'country',
    'e_visa_or_visa_on_arrival',
    'eta',
    'visa_required',
    'visa_not_required'])