In [3]:
import pandas as pd
import numpy as np

In [4]:
import os

cwd = os.getcwd()
temperature_path = os.path.join(cwd, "raw/Average Temperature of Countries.csv")
country_codes_path = os.path.join(cwd,"raw/ISO-3166-Countries-with-Regional-Code.csv")

In [5]:
temperatures = pd.read_csv(temperature_path)
print(temperatures.head())
len(temperatures)

              Country  Year  Annual Mean  5-yr smooth Code
0  Dominican Republic  1901        23.71        23.65  DOM
1  Dominican Republic  1902        23.40        23.52  DOM
2  Dominican Republic  1903        23.45        23.38  DOM
3  Dominican Republic  1904        23.03        23.26  DOM
4  Dominican Republic  1905        23.44        23.16  DOM

20740

In [6]:
country_codes = pd.read_csv(country_codes_path)
print(country_codes.head())
len(country_codes)

             name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1   Åland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

249

In [13]:
# rename some country names:
country_codes.replace(to_replace="Türkiye", value="Turkey",inplace=True)
country_codes.replace(to_replace="United Kingdom of Great Britain and Northern Ireland", value="United Kingdom",inplace=True)
country_codes.replace(to_replace="United States of America", value="United States",inplace=True)
country_codes.replace(to_replace="Russian Federation", value="Russia",inplace=True)
country_codes.replace(to_replace="Netherlands, Kingdom of the", value="Netherlands",inplace=True)
country_codes.replace(to_replace="Czechia", value="Czech Republic",inplace=True)
country_codes.replace(to_replace="Iran, Islamic Republic of", value="Iran",inplace=True)
country_codes.replace(to_replace="Korea, Democratic People's Republic of", value="North Korea",inplace=True)
country_codes.replace(to_replace="Korea, Republic of", value="South Korea",inplace=True)
country_codes.replace(to_replace="Viet Nam", value="Vietnam",inplace=True)
country_codes.replace(to_replace="Taiwan, Province of China", value="Taiwan",inplace=True)
country_codes.replace(to_replace="Tanzania, United Republic of", value="Tanzania",inplace=True)
country_codes.replace(to_replace="Côte d'Ivoire", value="Ivory Coast",inplace=True)
country_codes.replace(to_replace="Syrian Arab Republic", value="Syria",inplace=True)
country_codes.replace(to_replace="Congo, Democratic Republic of the", value="Democratic Republic of the Congo",inplace=True)
country_codes.replace(to_replace="Lao People's Democratic Republic", value="Laos",inplace=True)
country_codes.replace(to_replace="Bolivia, Plurinational State of", value="Bolivia",inplace=True)
country_codes.replace(to_replace="Falkland Islands (Malvinas)", value="Falkland Islands",inplace=True)
country_codes.replace(to_replace="Venezuela, Bolivarian Republic of", value="Venezuela",inplace=True)
country_codes.replace(to_replace="Moldova, Republic of", value="Moldova",inplace=True)

temperatures.replace(to_replace="DRC", value="COD", inplace=True)

In [14]:
temperature_with_country_codes = temperatures.merge(country_codes, left_on='Code', right_on='alpha-3', how='left')

In [15]:
# there should not be any null values
nan_rows = temperature_with_country_codes[temperature_with_country_codes['alpha-2'].isnull()]
nan_rows

Empty DataFrame
Columns: [Country, Year, Annual Mean, 5-yr smooth, Code, name, alpha-2, alpha-3, country-code, iso_3166-2, region, sub-region, intermediate-region, region-code, sub-region-code, intermediate-region-code]
Index: []

In [19]:
temperature_with_country_codes = temperature_with_country_codes[['Country',
                                                                 'Year',
                                                                 'Annual Mean',
                                                                 '5-yr smooth',
                                                                 'alpha-2',
                                                                 'alpha-3',
                                                                 'region',
                                                                 'sub-region']]
temperature_with_country_codes

,Country,Year,Annual Mean,5-yr smooth,alpha-2,alpha-3,region,sub-region
0,Dominican Republic,1901,23.71,23.65,DO,DOM,Americas,Latin America and the Caribbean
1,Dominican Republic,1902,23.40,23.52,DO,DOM,Americas,Latin America and the Caribbean
2,Dominican Republic,1903,23.45,23.38,DO,DOM,Americas,Latin America and the Caribbean
3,Dominican Republic,1904,23.03,23.26,DO,DOM,Americas,Latin America and the Caribbean
4,Dominican Republic,1905,23.44,23.16,DO,DOM,Americas,Latin America and the Caribbean
...,...,...,...,...,...,...,...,...
20735,Switzerland,2018,7.68,7.27,CH,CHE,Europe,Western Europe
20736,Switzerland,2019,7.31,7.34,CH,CHE,Europe,Western Europe
20737,Switzerland,2020,7.64,7.38,CH,CHE,Europe,Western Europe
20738,Switzerland,2021,6.39,7.42,CH,CHE,Europe,Western Europe
20739,Switzerland,2022,8.08,7.44,CH,CHE,Europe,Western Europe

In [20]:
temperature_with_country_codes.to_csv(os.path.join(cwd,"temperature_countries.csv"),index=False, header=['country',
                                                                 'year',
                                                                 'annual_mean',
                                                                 '5_year_smooth',
                                                                 'alpha_2',
                                                                 'alpha_3',
                                                                 'region',
                                                                 'sub_region'])