In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

cwd = os.getcwd()
tuition_fees_path = os.path.join(cwd, "raw/tuition_fee_university_qs_2025.csv")

In [3]:
tuition = pd.read_csv(tuition_fees_path)
print(tuition.head())
len(tuition)

  2025_rank                                   university  \
0         1  Massachusetts Institute of Technology (MIT)
1         2                      Imperial College London
2         3                         University of Oxford
3         4                           Harvard University
4         5                      University of Cambridge

   tuition_fee_yearly_usd                  method
0                   53790                official
1                   44083  scrape-topuniversities
2                   40000               estimated
3                   50000               estimated
4                   40000               estimated

1514

In [4]:
tuition.head()

,2025_rank,university,tuition_fee_yearly_usd,method
0,1,Massachusetts Institute of Technology (MIT),53790,official
1,2,Imperial College London,44083,scrape-topuniversities
2,3,University of Oxford,40000,estimated
3,4,Harvard University,50000,estimated
4,5,University of Cambridge,40000,estimated

In [5]:
tuition.to_csv(os.path.join(cwd,"university_tuition_fees.csv"),index=False, header=
                        ['2025_rank',
                         'university',
                         'tuition_fee_yearly_usd',
                         'method',
                        ])