In [1]:
import pandas as pd
import numpy as np

In [5]:
import os

cwd = os.getcwd()
rankings_path = os.path.join(cwd, "raw/qs-world-rankings-2025.csv")

In [6]:
rankings = pd.read_csv(rankings_path)
print(rankings.head())
len(rankings)

  2025 Rank 2024 Rank                              Institution Name Location  \
0         1         1  Massachusetts Institute of Technology (MIT)        US
1         2         6                       Imperial College London       UK
2         3         3                          University of Oxford       UK
3         4         4                            Harvard University       US
4         5         2                       University of Cambridge       UK

    Location Full Size  Academic Reputation  Employer Reputation  \
0   United States    M                100.0                100.0
1  United Kingdom    L                 98.5                 99.5
2  United Kingdom    L                100.0                100.0
3   United States    L                100.0                100.0
4  United Kingdom    L                100.0                100.0

   Faculty Student  Citations per Faculty  International Faculty  \
0            100.0                  100.0                   99.3
1             98.2                   93.9                  100.0
2            100.0                   84.8                   98.1
3             96.3                  100.0                   74.1
4            100.0                   84.6                  100.0

   International Students  International Research Network  \
0                    86.8                            96.0
1                    99.6                            97.4
2                    97.7                           100.0
3                    69.0                            99.6
4                    94.8                            99.3

   Employment Outcomes  Sustainability QS Overall Score
0                100.0            99.0              100
1                 93.4            99.7             98.5
2                100.0            85.0             96.9
3                100.0            84.4             96.8
4                100.0            84.8             96.7

1503

In [9]:
rankings_cleaned = rankings[['2025 Rank',
                             '2024 Rank',
                             'Institution Name',
                             'Location',
                             'Academic Reputation',
                             'Employer Reputation',
                             'International Students',
                             'Employment Outcomes',
                             'Sustainability',
                             'QS Overall Score'
                            ]]

,2025 Rank,2024 Rank,Institution Name,Location,Academic Reputation,Employer Reputation,International Students,Employment Outcomes,Sustainability,QS Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),US,100.0,100.0,86.8,100.0,99.0,100
1,2,6,Imperial College London,UK,98.5,99.5,99.6,93.4,99.7,98.5
2,3,3,University of Oxford,UK,100.0,100.0,97.7,100.0,85.0,96.9
3,4,4,Harvard University,US,100.0,100.0,69.0,100.0,84.4,96.8
4,5,2,University of Cambridge,UK,100.0,100.0,94.8,100.0,84.8,96.7

In [ ]:
rankings_cleaned.head()

In [11]:
rankings_cleaned.to_csv(os.path.join(cwd,"university_rankings.csv"),index=False, header=
                        ['2025_rank',
                         '2024_rank',
                         'university',
                         'alpha_2',
                         'academic_reputation',
                         'employer_reputation',
                         'international_students',
                         'employment_outcomes',
                         'sustainability',
                         'qs_overall_score',
                        ])